
@{
    ViewBag.Title = "SimpleReactJSExample";
}

<h3>Please remember that I love you ;)</h3>

<div id="content"></div>


@section scripts{
    <script src="@Url.Content("~/Scripts/HelloWorld.jsx")"></script>
}



