<div>
    <img id="editItemProjectInformation" src="../_catalogs/masterpage/myDashboard/Pictures/iconItemEdit.png" style="float:right; cursor:pointer; height:30px">
    <h3>Projektinformationen</h3>
</div><br /><br />
<div>
    <div id='projectInformation' style="list-style-type:none">
    </div>
</div>
<div>
    Belegter Speicherplatz <br /><br />
    <div id="progressBarMain">
        <div id="projectInformationSiteQuotaUsage">
            X of XXX MB
        </div>
    </div>
</div>

<style>
    #progressBarMain {
        background-color: lightgrey;
        height: 30px;
    }

    #projectInformationSiteQuotaUsage {
        background-color: #F0BE5A;
        color: white;
        height: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #projectInformation p {
        -webkit-margin-before: 0em !important;
        -webkit-margin-after: 0em !important;
    }

    #progressBarBody {
        height: 24px;
        width: 60%;
        background-color: #F0BE5A;
        color: white;
    }
</style>
<script type="text/javascript" src="../_catalogs/masterpage/myDashboard/projectInformation.js"></script>
